[Desktop Entry]
Name=Camera Control
Comment=Camera control application
Exec=camera-control
Terminal=false
Type=Application
Categories=AudioVideo;Video;
